.property_group {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 10px;
}

.property_item {
    &__group {
        padding-bottom: 8px;
        display: flex;
        flex-direction: row;

        gap: 10px;
    }

    &__item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}